/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
}

.big {
  margin: 0px auto;
}

#head, #done {
  margin: 30px 20px;
  font-size: 20px;
}

input[type="text"] {
  font-size: 16px;
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
}

.quiz-metadata-row td {
  padding: 20px 5px;
  margin: 0px;
}

.quiz-metadata-text-input-label {
	padding: 4px 0px;
	margin: 4px 0px;
}

td:first-child {
  width: 300px;
}

#done {
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

#scoreLabel, #fractionLabel {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.correct, .complete {
  background-color: lightgreen;
}

.incorrect, .incomplete {
  background-color: #faa;
}

.quiz-body tr {
  border: 1px solid black;
}

.quiz-metadata-text-input-label, .game-codes-item {
	display: inline;
	justify-content: flex-start;
	align-items: center;
}