<form method="POST" action="/answers" onsubmit="return false" id="form">
    <table id="big">
        <thead>
            <tr>
                <td id="navigation" colspan="3">
                    <a [routerLink]="['/quiz']" class="active">Take Quiz</a>
                    <a [routerLink]="['/scoreboard']">View Scoreboard</a>
                </td>
            </tr>
            <tr id="nameAndScore">
                <td id="nameCell">
                    <label for="name"><strong>Name:</strong></label>
                    <input type="text" name="name" id="name" onChange="enableButtons()" />
                </td>
                <td id="scoreLabel" colspan="2"></td>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
        <tbody>
            <app-question *ngFor="let question of questions" [question]="question"></app-question>
            <tr>
                <td colspan="3">
                    <input type="submit" id="done" value="Done" disabled />
                </td>
            </tr>
        </tbody>
    </table>
</form>