<div class="game-codes-area">
    <div class="quiz-metadata-text-input-label"><strong>Games:</strong></div>
    <div class="game-codes-item" *ngFor="let game of games">
        <span>{{game.gameName}}<span *ngIf="game.gameCode !== undefined"> (code: "{{game.gameCode}}")</span></span>
        <span *ngIf="!disabled" class="game-codes-delete-button" (click)="removeGame(game.gameCode)"></span>
    </div>
    <input 
        *ngIf="!disabled"
        type="text" 
        [(ngModel)]="newGameCodeValue"
        #newGameCodeElement="ngModel"
        maxlength="32"
        required="true"
        placeholder="Enter Game Code..."
        (input)="addNewGameCode()"
    />
</div>
<div class="alert">
    <div *ngIf="games.length === 0">
        At least one game code is required.
    </div>
    <div *ngIf="customError !== undefined">
       {{ customError }}
    </div>
</div>
