<table id="big">
    <thead>
        <tr>
            <td id="navigation" colspan="3">
                <app-nav-bar></app-nav-bar>
            </td>
        </tr>
        <tr>
            <td colspan="3">
              <h1>Scoreboard</h1>
            </td>
        </tr>
        <tr>
            <td><strong>Rank</strong></td>
            <td class="nameCell"><strong>Name</strong></td>
            <td><strong>Score</strong></td>
        </tr>
    </thead>
    <tbody class="quiz-body">
   
        <tr>
            <td colspan="3">
                <p>Table works</p>
            </td>
        </tr>
    </tbody>
</table>