* {
  padding: 0px;
  margin: 0px;
}

#big {
  margin: 0px auto;
}

#head, #done {
  margin: 30px 20px;
  font-size: 20px;
}

#name {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
}

#tableBody tr {
  border: 1px solid black;
}

#tableBody td, #nameAndScore td{
  padding: 20px 5px;
  margin: 0px;
}

td:first-child {
  width: 300px;
}


#done {
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

#scoreLabel {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.correct, .complete {
  background-color: lightgreen;
}

.incorrect, .incomplete {
  background-color: #faa;
}
