<div class="game-codes-area">
    <div class="quiz-metadata-text-input-label"><strong>Games:</strong></div>
    <div class="game-codes-item" *ngFor="let game of games">
        <span>{{game}}</span>
        <span class="game-codes-delete-button" (click)="removeGame(game)"></span>
    </div>
    <input 
        type="text" 
        [(ngModel)]="newGameCodeValue"
        #newGameCodeElement="ngModel"
        required="true"
        minlength="3"
        maxlength="32"
        pattern="^[a-zA-Z0-9_]+$" 
        placeholder="Enter Game Code..." 
        (keydown.enter)="createNewLabel()"
    />
</div>
<div *ngIf="showErrors && newGameCodeElement.invalid"
    class="alert">
    <div *ngIf="newGameCodeElement.hasError('required')">
        Label may not be an empty string
    </div>
    <div *ngIf="newGameCodeElement.hasError('minlength')">
        Label must be at least 3 characters long.
    </div>
    <div *ngIf="newGameCodeElement.hasError('maxlength')">
        Label must not be more than 32 characters long.
    </div>
    <div *ngIf="newGameCodeElement.hasError('pattern')">
       Label must be contain only alphanumeric characters or underscores
    </div>
</div>
