<td>{{question.question}}</td>
<td>
        <input 
                type="radio"
                name="{{question.id}}"
                id="{{question.id}}left"
                value="left"
                [disabled]="!enabled"
                (change)="setComplete()" 
        >
        <label for="{{question.id}}left">{{question.left}}</label>
</td>
<td>
        <input
                type="radio"
                name="{{question.id}}"
                id="{{question.id}}right"
                value="right"
                [disabled]="!enabled"
                (change)="setComplete()"
        >
        <label for="{{question.id}}right">{{question.right}}</label>
</td>