<app-banner [bannerType]="bannerType" [bannerMessage]="bannerMessage"></app-banner>
<table class="big">
    <thead>
        <tr>
            <td id="navigation" colspan="3">
                <app-nav-bar 
                    [currentPage]="'scoreboard'"
                    [gameCodes]="gameCodes"
                ></app-nav-bar>
            </td>
        </tr>
        <tr>
            <td colspan="3">
              <h1>Scoreboard</h1>
            </td>
        </tr>
        <tr>
            <td class="rankCell"><strong>Rank</strong></td>
            <td class="nameCell"><strong>Name</strong></td>
            <td class="scoreCell"><strong>Score</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr 
            *ngFor="let playerData of playerDataList" 
            [playerData]="playerData"
            [gameCodes]="gameCodes"
            [class]="this.getRankClass(playerData.rank)"
            app-scoreboard-row
        >
        </tr>
        
    </tbody>
</table>