<form method="POST" action="/answers" onsubmit="return false" id="form">
    <table id="big">
        <thead>
            <tr>
                <td id="navigation" colspan="3">
                    <app-nav-bar></app-nav-bar>
                </td>
            </tr>
            <tr id="nameAndScore">
                <td id="nameCell">
                    <label for="name"><strong>Name:</strong></label>
                    <input type="text" name="name" id="name" onChange="enableButtons()" />
                </td>
                <td id="scoreLabel" colspan="2"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions" [question]="question" app-question></tr>
            <tr>
                <td colspan="3">
                    <input type="submit" id="done" value="Done" disabled />
                </td>
            </tr>
        </tbody>
    </table>
</form>