/* You can add global styles to this file, and also import other style files */

/* Add a black background color to the top navigation */
#navigation {
  background-color: #eee;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#navigation a {
  float: left;
  color: #888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#navigation a.active {
  background-color: #ddd;
  color: black;
}
