<div>
    <div class="quiz-metadata-text-input-label"><strong>Name:</strong></div>
    <input 
        type="text" 
        [(ngModel)]="name"
        #inputElement="ngModel"
        (input)="onInput()"
        required="true"
        maxlength="32"
        placeholder="Add name..."
        [disabled]="disabled"
    />
</div>
<div *ngIf="inputElement.dirty && inputElement.invalid"
    class="alert">
    <div *ngIf="inputElement.hasError('required')">
        Name may not be an empty string
    </div>
    <div *ngIf="inputElement.hasError('maxlength')">
        Name must not be more than 32 characters long.
    </div>
</div>
