<div>
  <div class="quiz-metadata-text-input-label"><strong>Name:</strong></div>
  <input
    type="text"
    [(ngModel)]="name"
    #inputElement="ngModel"
    (input)="onInput()"
    required="true"
    minlength="3"
    maxlength="32"
    placeholder="Add name..."
    [disabled]="disabled"
    />
</div>
@if (inputElement.invalid) {
  <div
    class="alert">
    @if (inputElement.hasError('required')) {
      <div>
        Name may not be an empty string.
      </div>
    }
    @if (inputElement.hasError('minlength')) {
      <div>
        Name is too short.
      </div>
    }
    @if (inputElement.hasError('maxlength')) {
      <div>
        Name must not be more than 32 characters long.
      </div>
    }
  </div>
}
