<app-banner [bannerType]="bannerType" [bannerMessage]="bannerMessage"></app-banner>
<form #form="ngForm" (ngSubmit)="onFormSubmit(form)" id="form">
    <table class="big">
        <thead>
            <tr>
                <td id="navigation" colspan="3">
                    <app-nav-bar 
                        [currentPage]="'quiz'"
                    ></app-nav-bar>
                </td>
            </tr>
            <tr class="quiz-metadata-row" >
                <td class="quiz-metadata-text-input-cell" colspan="3">
                    <app-games-identifier
                        (gameCodesUpdatedEvent)="updateGameCodes($event)"
                    ></app-games-identifier>
                </td>
            </tr>
            <tr class="quiz-metadata-row">
                <td class="quiz-metadata-text-input-cell">
                    <app-name-field
                        (nameUpdatedEvent)="updateName($event)"
                    ></app-name-field>
                </td>
                <td id="scoreLabel" colspan="2"></td>
            </tr>
        </thead>
        <tbody class="quiz-body">
            <tr 
                *ngFor="let question of questions" 
                [question]="question"
                [enabled]="questionsEnabled"
                id="{{question.id}}" 
                [ngClass]="question.selection !== undefined ? 'complete' : 'incomplete'" 
                app-question>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" id="done" value="Done" [disabled]="!isQuizComplete()" />
                </td>
            </tr>
        </tbody>
    </table>
</form>