<app-banner [bannerType]="bannerType" [bannerMessage]="bannerMessage"></app-banner>
<form #form="ngForm" (ngSubmit)="onFormSubmit(form)" id="form">
    <table id="big">
        <thead>
            <tr>
                <td id="navigation" colspan="3">
                    <app-nav-bar 
                        [currentPage]="'quiz'"
                        [game]="game"
                    ></app-nav-bar>
                </td>
            </tr>
            <tr id="nameAndScore">
                <td id="nameCell">
                    <label for="name"><strong>Name:</strong></label>
                    <input type="text" name="name" id="name" (change)="enableQuestions()" ngModel/>
                </td>
                <td id="scoreLabel" colspan="2"></td>
            </tr>
        </thead>
        <tbody class="quiz-body">
            <tr 
                *ngFor="let question of questions" 
                [question]="question"
                [enabled]="questionsEnabled"
                id="{{question.id}}" 
                [ngClass]="question.selection !== undefined ? 'complete' : 'incomplete'" 
                app-question>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" id="done" value="Done" [disabled]="!isQuizComplete()" />
                </td>
            </tr>
        </tbody>
    </table>
</form>