<td>{{question.question}}</td>
<td>
        <input
                type="radio"
                id="{{question.id}}left"
                name="{{question.id}}"
                value="left"
                [disabled]="!enabled"
                [checked]="question.selection === 'left'"
                (change)="setSelection('left')"
        >
        <label for="{{question.id}}left">{{question.left}}</label>
</td>
<td>
        <input
                type="radio"
                id="{{question.id}}right"
                name="{{question.id}}"
                value="right"
                [disabled]="!enabled"
                [checked]="question.selection === 'right'"
                (change)="setSelection('right')"
        >
        <label for="{{question.id}}right">{{question.right}}</label>
</td>